* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

header {
  font-size: 25px;
  margin: 50px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

span {
  font-size: 20px;
  font-weight: bold;
}

#reach-num,
#bingo-num,
#ball-num,
#end {
  font-size: 25px;
  font-weight: bold;
}

.btn {
  margin: 40px;
}
.btn > input {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 10px;
}

#bingo_option {
  width: 100px;
  height: 30px;
  margin: 10px;
}

/*  */
/*  */
.bingoCard-div {
  margin: 0 20px 40px;
}

.bingoCard-num {
  display: flex;
}
.bingoCard-num > div {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.bingoCard-num > div > p {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}

/*  */
/*  */
.matchedNum {
  background-color: gold;
  border-radius: 15px 15px 0 0;
}
/*  */
/*  */

.hide {
  display: none;
}
